*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgba(1, 171, 78, 0.459);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 450px;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px 20px;
    text-align: center;
}
.title{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.input{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 3px 20px #00a2ffb4;
}
#button{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    box-shadow: 2px 3px 20px #ff0000ae;
}
.count{
    margin-top: 50px;
    font-size: 22px;
    font-weight: 300;
}